.errorWrapper{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
}
.errorPopup{
    position: absolute;
    width: 80%;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--textColor);
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: black;
}
.errorPopup h2{
    font-size: 2rem;
    color: var(--redColor);
    font-weight: 400;
}
.buttons{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.buttons button{
    padding: .5rem 1rem;
    cursor: pointer;
    border: 1px solid var(--redColor);
    background-color: transparent;
    color: var(--redColor);
    font-size: 1rem;
}