.homePage{
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.homeLeft{
    padding: 2rem 2rem;
    
    border-radius: 0 0 4rem 4rem;
    width: 100%;
    background-color: var(--backgroundColorDarker);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.homeLeft h1{
    font-size: 50px;
}
.homeLeft p{
    font-size: 1rem;
    text-align: justify;
}
.homeRight{
    border-radius: 4rem 4rem 0 0;
    height: calc(100vh - 196px - 81px);
    width: 100%;
    background: url('../../../assets/room.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
}
.linkToBook{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1rem;
    width: fit-content;
    background-color:var(--backgroundColor);
    border-radius: 4rem;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
    transition: all .2s linear;
    z-index: 0;
}
.linkToBook:hover{
    transform: scale(1.05);
}

.linkToBook p{
    margin-top: 0;
    color: var(--textColor);
    text-decoration: none;
}
.linkToBook button{
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (min-width: 768px){
    .homePage{
        min-height: calc(100vh - 70px);
        flex-direction: row;
        max-height: fit-content;
    }
    .homeLeft{
        width: 40%;
        border-radius: 0 4rem 4rem 0;
        padding-right: 6rem;
    }
    .homeRight{
        width: 60%;
        height: auto;
        border-radius: 4rem 0 0 4rem;
    }
    .linkToBook{
        right: 2rem;
    }
}