.all {
    display: flex;
    min-height: calc(100vh - 70.4px);
    background: url('../../../assets/black-concrete-wall.jpg') center;
    background-size: cover;
}

.filter {
    display: contents;
    order: -1;
}

.games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 200px);
    flex-grow: 1;
}

.pages {
    display: flex;
    justify-content: center;
}

.page {
    display: block;
    margin: 10px 10px;
    padding: 0px 10px;
    height: 30px;
    border: none;
    border-radius: 16px;
    text-align: center;
    background-color: rgba(174,60,60,0.8);
    color: white;
}