:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --backgroundColor: black;
  --backgroundColorDarker: black;
  --textColor: rgb(240, 231, 219);
  --redColor: #AE3C3C;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--backgroundColor);
  color: var(--textColor);
  line-height: 1.5;
}